.slider .slider-track{
  display: flex;
  gap: 1.5rem;
  width: calc(6.5rem * 28);
  animation: scroll 30s linear infinite;
}

.slider .card{
  width: 5rem;
}

.slider .card img{
  width: 100%;
}

@keyframes scroll {
  from{
    transform: translateX(0)
  }
  to{
    transform: translateX(calc(-6.5rem * 14));
  }
}