.slider{
  width: 70%;
  overflow: hidden;
}
.slider .slider-track{
  display: flex;
  gap: 0.8rem;
  width: calc(6.8rem * 28);
  animation: scroll 30s linear infinite;
}

.slider .card{
  width: 6rem;
}

.slider .card img{
  width: 100%;
}

@keyframes scroll {
  from{
    transform: translateX(0)
  }
  to{
    transform: translateX(calc(-6.8rem * 14));
  }
}