@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*{
    scroll-behavior: smooth;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}